@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}


.form-control {
  border-radius: 5px;
}


.form-label {
  font-weight: bold;
  color: #333;
}


.form-check-label {
  color: #555;
}


.form-group input[type="file"] {
  display: none;
}

.upload-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}


.form-check-input {
  margin-right: 10px;
}


.text-center {
  text-align: center;
}


@media (max-width: 768px) {
  .mb-3 {
      margin-bottom: 15px;
  }

  .w-75 {
      width: 100%;
  }
}
